<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.eclipse.mylyn.reviews.r4e.core.model/1.0"
            class="org.eclipse.mylyn.reviews.r4e.core.model.RModelPackage"
            genModel="model/r4e.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="model"
            class="org.eclipse.mylyn.reviews.r4e.core.model.util.RModelResourceFactoryImpl"/>
   </extension>

</plugin>
