<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.mylyn.reviews.r4e.ui.preferences.R4EPreferencePage"
            id="org.eclipse.mylyn.reviews.r4e.ui.preferences.R4EPreferencePage"
            name="R4E">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.mylyn.reviews.r4e.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.mylyn.reviews.r4e.ui.navigatorViewCategory"
            class="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView"
            icon="icons/r4e_navigator.gif"
            id="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView"
            name="Review Navigator"
            restorable="true">
      </view>
      <category
            id="org.eclipse.mylyn.reviews.r4e.ui.navigatorViewCategory"
            name="R4E">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.mylyn.reviews.r4e.ui.navigatorViewCategory"
            class="org.eclipse.mylyn.reviews.r4e.ui.properties.R4EPropertiesView"            
            icon="icons/link_properties.gif"
            id="org.eclipse.mylyn.reviews.r4e.ui.properties.R4EPropertiesView"
            name="R4E Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.mylyn.reviews.r4e.ui.editors.r4eMenu"
               label="R4E"
               mnemonic="r">
            <command
                  commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem"
                  icon="icons/r4e_new_item.gif"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem"
                  label="Add review item"
                  mnemonic="I"
                  style="push"
                  tooltip="Add a review item to the current review">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="selection">
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.ISourceReference">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.cdt.core.model.ISourceReference">
                              </instanceof>
                           </or>
                        </iterate>
                     </with>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly"
                  icon="icons/r4e_new_anomaly.gif"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly"
                  label="Add anomaly"
                  mnemonic="A"
                  style="push"
                  tooltip="Add an anomaly to the current review">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="selection">
                        <iterate>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.ISourceReference">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.cdt.core.model.ISourceReference">
                              </instanceof>
                           </or>
                        </iterate>
                     </with>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems"
                  icon="icons/r4e_find_items.gif"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems"
                  label="Find review items"
                  mnemonic="F"
                  style="push"
                  tooltip="Find review items from a given project in workspace">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <or>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.cdt.core.model.ICProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragmentRoot">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragment">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView?after=additions">
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.addChildElement"
               icon="icons/groups.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.addChildElement"
               label="Add review group"
               mnemonic="a"
               style="push"
               tooltip="Add a new Review Group">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.ExpandAll"
               icon="icons/expandall.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.ExpandAll"
               label="Expand all"
               mnemonic="e"
               style="push"
               tooltip="Expand all elements of the review navigator tree">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.CollapseAll"
               icon="icons/collapseall.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.CollapseAll"
               label="Collapse all"
               mnemonic="c"
               style="push"
               tooltip="Collapse all elements of the review navigator tree">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.DefaultSort"
               icon="icons/alpha_sort.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.DefaultSort"
               label="Sort by element name"
               mnemonic="s"
               style="toggle"
               tooltip="Sort by element name alphabetically ">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkEditor"
               icon="icons/link_editor.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkEditor"
               label="Link editor"
               mnemonic="l"
               style="toggle"
               tooltip="Link the navigator view with the editor">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkProperties"
               icon="icons/link_properties.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkProperties"
               label="Link properties"
               mnemonic="p"
               style="toggle"
               tooltip="Link the navigator view with the R4E properties view">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext"
               disabledIcon="icons/next_disabled.gif"
               icon="icons/next.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext"
               label="Select next"
               mnemonic="n"
               style="push"
               tooltip="Select and open next element in editor">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious"
               disabledIcon="icons/prev_disabled.gif"
               icon="icons/prev.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious"
               label="Select previous"
               mnemonic="p"
               style="push"
               tooltip="Select and open previous element in editor">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh"
               icon="icons/refresh.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh"
               label="Refresh"
               mnemonic="r"
               style="push"
               tooltip="Refresh data">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <menu
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.filter.menu"
               label="Filters">
            <dynamic
                  class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.FiltersContributionItems"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.items">
            </dynamic>
         </menu>
         <menu
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.sorter.menu"
               label="Sort by">
            <dynamic
                  class="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.SortersContributionItems"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.items">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView?after=additions">
         <dynamic
               class="org.eclipse.mylyn.reviews.r4e.ui.commands.ModelContributionItems"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.model.items">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="R4E Context-sensitive commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            name="R4E Context Commands">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            description="add a review item to the current review"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem"
            name="Add review item">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            description="add an anomaly to the current review"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly"
            name="Add anomaly">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            description="find review items from a given project in workspace"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems"
            name="Find review items">
      </command>
      <category
            description="R4E Navigator view toolbar commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            name="R4E Navigator Toolbar Commands">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="select and open next element in editor"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext"
            name="Select next element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="select and open previous element in editor"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious"
            name="Select previous element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="Refresh data for element or parent review/review group element"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh"
            name="Refresh">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="Expand all elements of the review navigator tree"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.ExpandAll"
            name="ExpandAll">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="Collapse all elements of the review navigator tree"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.CollapseAll"
            name="CollapseAll">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="Link with editor"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkEditor"
            name="LinkEditor">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="Link with properties"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkProperties"
            name="LinkProperties">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <category
            description="R4E Navigator view toolbar filter commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            name="R4E Navigator View Filters">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Current review only filter"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.CurrentReview"
            name="FiltersCurrentReview">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Reviews only filter"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsOnly"
            name="FiltersReviewsOnly">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Show my reviews"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsMy"
            name="ReviewsMy">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Show reviews for participant"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsParticipant"
            name="ReviewsParticipant">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Hide selections"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.Anomalies"
            name="AnomaliesOnly">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Hide reviewed elements"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewedElems"
            name="ReviewedElems">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.filtersCategory"
            description="Remove All Filters"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.RemoveAll"
            name="FiltersRemoveAll">
      </command>
      <category
            description="R4E Navigator view toolbar sort commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.sortersCategory"
            name="R4E Navigator View Sorters">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.sortersCategory"
            description="Element name"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.DefaultSort"
            name="DefaultSort">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <category
            description="R4E Navigator view popup commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            name="R4E Navigator Popup Commands">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Add linked anomaly"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.addLinkedAnomaly"
            name="Add linked anomaly">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Open editor"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.openEditor"
            name="Open editor">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Change review state"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.changeReviewState"
            name="Change review state">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Open element"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.openElement"
            name="Open element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Close element"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.closeElement"
            name="Close element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Add child element"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.addChildElement"
            name="Add child element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorElementCategory"
            description="Remove element"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.removeElement"
            name="Remove element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.mylyn.reviews.r4e.ui.commands.ReviewState">
         <variable
               name="org.eclipse.mylyn.reviews.r4e.ui.commands.review"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         id="org.eclipse.mylyn.reviews.r4e.ui.navigator.actions.ReviewNavigatorActionGroup"
         name="Review Navigator Action Set"
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.mylyn.reviews.r4e.ui.actions.ReviewNavigatorActionGroup"
            label="R4E Actions">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItemHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem">
         <activeWhen>
            <and>
               <with
                     variable="org.eclipse.mylyn.reviews.r4e.ui.commands.review">
                  <not>
                     <equals
                           value="null">
                     </equals>
                  </not>
               </with>
               <test
                     property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomalyHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly">
         <activeWhen>
            <and>
               <with
                     variable="org.eclipse.mylyn.reviews.r4e.ui.commands.review">
                  <not>
                     <equals
                           value="null">
                     </equals>
                  </not>
               </with>
               <test
                     property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItemsHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems">
         <activeWhen>
            <and>
               <with
                     variable="org.eclipse.mylyn.reviews.r4e.ui.commands.review">
                  <not>
                     <equals
                           value="null">
                     </equals>
                  </not>
               </with>
               <test
                     property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNextHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPreviousHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.RefreshHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.ExpandAllHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.ExpandAll">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.CollapseAllHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.CollapseAll">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkEditorHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkEditor">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkPropertiesHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.LinkProperties">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.RemoveAllFiltersHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.RemoveAll">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.CurrentReviewFilterHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.CurrentReview">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsOnlyFilterHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsOnly">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.AnomaliesFilterHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.Anomalies">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewedElemsFilterHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewedElems">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsMyFilterHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsMy">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsParticipantFilterHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.filters.ReviewsParticipant">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.DefaultSortHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.sorters.DefaultSort">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.AddLinkedAnomalyHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.addLinkedAnomaly">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.OpenEditorHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.openEditor">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.ChangeReviewStateHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.changeReviewState">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.OpenElementHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.openElement">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.CloseElementHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.closeElement">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.RemoveElementHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.removeElement">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.AddChildElementHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.addChildElement">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <propertyCategory
               category="org.eclipse.mylyn.reviews.r4e.ui.properties.NavigatorPropertiesCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <propertyTab
               category="org.eclipse.mylyn.reviews.r4e.ui.properties.NavigatorPropertiesCategory"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab"
               label="Detailed">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab"
               category="org.eclipse.mylyn.reviews.r4e.ui.properties.NavigatorPropertiesCategory"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyClassicTab"
               label="Classic">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewGroupTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewGroupSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIReviewGroup">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIReview">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ParticipantTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ParticipantSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIParticipant">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewItemTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewItemSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIReviewItem">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.FileContextTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.FileContextSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIFileContext">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.SelectionTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.SelectionSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUISelection">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.AnomalyTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.AnomalySection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIAnomaly">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.CommentTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.CommentSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIComment">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyClassicSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyClassicTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.IR4EUIModelElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.DialogPropertyTester"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.dialog.propertyTester"
            namespace="org.eclipse.mylyn.reviews.r4e.ui.commands"
            properties="dialogOpen"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
