<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.mylyn.reviews.r4e.ui.preferences.R4EPreferencePage"
            id="org.eclipse.mylyn.reviews.r4e.ui.preferences.R4EPreferencePage"
            name="R4E">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.mylyn.reviews.r4e.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.mylyn.reviews.r4e.ui.navigatorViewCategory"
            class="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView"
            icon="icons/r4e_navigator.gif"
            id="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView"
            name="Review Navigator"
            restorable="true">
      </view>
      <category
            id="org.eclipse.mylyn.reviews.r4e.ui.navigatorViewCategory"
            name="R4E">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.mylyn.reviews.r4e.ui.properties.R4EPropertyPage"
            id="org.eclipse.mylyn.reviews.r4e.ui.properties.R4EPropertyPage"
            name="R4E Properties"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.mylyn.reviews.r4e.ui.model.IR4EUIModelElement">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.mylyn.reviews.r4e.ui.editors.r4eMenu"
               label="R4E"
               mnemonic="r">
            <command
                  commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem"
                  icon="icons/r4e_new_item.gif"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem"
                  label="Add review item"
                  mnemonic="I"
                  style="push"
                  tooltip="Add a review item to the current review">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="selection">
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.ISourceReference">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.cdt.core.model.ISourceReference">
                              </instanceof>
                           </or>
                        </iterate>
                     </with>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly"
                  icon="icons/r4e_new_anomaly.gif"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly"
                  label="Add anomaly"
                  mnemonic="A"
                  style="push"
                  tooltip="Add an anomaly to the current review">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="selection">
                        <iterate>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.ISourceReference">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.cdt.core.model.ISourceReference">
                              </instanceof>
                           </or>
                        </iterate>
                     </with>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems"
                  icon="icons/r4e_find_items.gif"
                  id="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems"
                  label="Find review items"
                  mnemonic="F"
                  style="push"
                  tooltip="Find review items from a given project in workspace">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <or>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.cdt.core.model.ICProject">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView?after=additions">
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext"
               disabledIcon="icons/next_disabled.gif"
               icon="icons/next.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext"
               label="Select next"
               mnemonic="n"
               style="push"
               tooltip="Select and open next element in editor">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious"
               disabledIcon="icons/prev_disabled.gif"
               icon="icons/prev.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious"
               label="Select previous"
               mnemonic="p"
               style="push"
               tooltip="Select and open previous element in editor">
         </command>
         <command
               commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh"
               icon="icons/refresh.gif"
               id="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh"
               label="Refresh"
               mnemonic="r"
               style="push"
               tooltip="Refresh data">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="R4E Context-sensitive commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            name="R4E Context Commands">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            description="add a review item to the current review"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem"
            name="Add review item">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            description="add an anomaly to the current review"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly"
            name="Add anomaly">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.reviewCategory"
            description="find review items from a given project in workspace"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems"
            name="Find review items">
      </command>
      <category
            description="R4E Navigator view toolbar commands"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            name="R4E Navigator Toolbar Commands">
      </category>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="select and open next element in editor"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext"
            name="Select next element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="select and open previous element in editor"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious"
            name="Select previous element">
      </command>
      <command
            categoryId="org.eclipse.mylyn.reviews.r4e.ui.commands.navigatorCategory"
            description="Refresh data for element or parent review/review group element"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.eclipse.mylyn.reviews.r4e.ui.commands.ReviewState">
         <variable
               name="org.eclipse.mylyn.reviews.r4e.ui.commands.review"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         id="org.eclipse.mylyn.reviews.r4e.ui.navigator.actions.ReviewNavigatorActionGroup"
         name="Review Navigator Action Set"
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.mylyn.reviews.r4e.ui.actions.ReviewNavigatorActionGroup"
            label="R4E Actions">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItemHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddReviewItem">
         <activeWhen>
            <and>
               <with
                     variable="org.eclipse.mylyn.reviews.r4e.ui.commands.review">
                  <not>
                     <equals
                           value="null">
                     </equals>
                  </not>
               </with>
               <test
                     property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomalyHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.AddAnomaly">
         <activeWhen>
            <and>
               <with
                     variable="org.eclipse.mylyn.reviews.r4e.ui.commands.review">
                  <not>
                     <equals
                           value="null">
                     </equals>
                  </not>
               </with>
               <test
                     property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItemsHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.FindReviewItems">
         <activeWhen>
            <and>
               <with
                     variable="org.eclipse.mylyn.reviews.r4e.ui.commands.review">
                  <not>
                     <equals
                           value="null">
                     </equals>
                  </not>
               </with>
               <test
                     property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNextHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectNext">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPreviousHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.SelectPrevious">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.RefreshHandler"
            commandId="org.eclipse.mylyn.reviews.r4e.ui.commands.Refresh">
         <enabledWhen>
            <test
                  property="org.eclipse.mylyn.reviews.r4e.ui.commands.dialogOpen">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <propertyCategory
               category="org.eclipse.mylyn.reviews.r4e.ui.properties.NavigatorPropertiesCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <propertyTab
               category="org.eclipse.mylyn.reviews.r4e.ui.properties.NavigatorPropertiesCategory"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab"
               label="Detailed">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyBasicTab"
               category="org.eclipse.mylyn.reviews.r4e.ui.properties.NavigatorPropertiesCategory"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyClassicTab"
               label="Classic">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.mylyn.reviews.r4e.ui.navigator.ReviewNavigatorView">
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewGroupTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewGroupSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIReviewGroup">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIReview">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ParticipantTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ParticipantSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIParticipant">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewItemTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.ReviewItemSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIReviewItem">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.FileContextTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.FileContextSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIFileContext">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.SelectionTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.SelectionSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUISelection">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.AnomalyTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.AnomalySection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIAnomaly">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.mylyn.reviews.r4e.ui.properties.CommentTabPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.CommentSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyDetailedTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIComment">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyClassicSection"
               tab="org.eclipse.mylyn.reviews.r4e.ui.properties.propertyClassicTab">
            <input
                  type="org.eclipse.mylyn.reviews.r4e.ui.model.R4EUIModelElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.mylyn.reviews.r4e.ui.commands.DialogPropertyTester"
            id="org.eclipse.mylyn.reviews.r4e.ui.commands.dialog.propertyTester"
            namespace="org.eclipse.mylyn.reviews.r4e.ui.commands"
            properties="dialogOpen"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
