<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <!-- Define which command should be available in the R4E-Gerrit connector  
 -->
   <extension
         id="org.eclipse.mylyn.reviews.r4e-gerrit.commands.reviewCategory"
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.mylyn.reviews.r4e-gerrit.selectCurrentGerrit"
            name="selectCurrentGerrit">
      </command>
      <command
            id="org.eclipse.mylyn.reviews.r4e-gerrit.addGerritSite"
            name="Add ...">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   
	<!-- Define the menu for R4E-Gerrit pulldown menu
	-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
               id="org.eclipse.ui.contributions.toolbars.r4eGerrit">
          <command
                commandId="org.eclipse.mylyn.reviews.r4e-gerrit.selectCurrentGerrit"
                icon="icons/favicon.ico"
                id="r4eGerrit.dropdown.toolbar.initiateGerrit"
                label="R4E-Gerrit"
                style="pulldown">
          </command>
         <separator
                  name="additions"
                  visible="false">
            </separator>
        </toolbar>
      </menuContribution>
 
	<!-- Add the menu item to the R4E-Gerrit pulldown menu
	-->
      <menuContribution
            locationURI="menu:r4eGerrit.dropdown.toolbar.initiateGerrit">
          <dynamic
                class="org.eclipse.mylyn.reviews.r4e_gerrit.internal.menus.DynamicMenuAddition"
                id="org.eclipse.mylyn.reviews.r4e-gerrit.dynamic1">
          </dynamic>
          <separator
                name="additions"
                visible="true">
          </separator>  
          <command
                commandId="org.eclipse.mylyn.reviews.r4e-gerrit.addGerritSite"
                id="Search.gerritSite"
                label="Add..."
                style="push">
          </command>
        </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.reviews.r4e_gerrit.internal.commands.AddGerritSiteHandler"
            commandId="org.eclipse.mylyn.reviews.r4e-gerrit.addGerritSite">
      </handler>
      <handler
            class="org.eclipse.mylyn.reviews.r4e_gerrit.internal.commands.SelectReviewSiteHandler"
            commandId="org.eclipse.mylyn.reviews.r4e-gerrit.selectCurrentGerrit">
      </handler>
   </extension>

</plugin>

