<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mylyn Reviews Target" sequenceNumber="103">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.api.tools.ee.javase16.group" version="1.0.0.v20120530-1420-7D-FYwFAFkNZkOIwNB_6kN"/>
<unit id="org.eclipse.pde.api.tools.ee.javase17.group" version="1.0.0.v20120530-1420-7D-FYwFAFkNZkOIwNB_6kN"/>
<unit id="org.eclipse.platform.ide" version="3.8.1.M20120914-1540"/>
<unit id="org.eclipse.sdk.ide" version="3.8.1.M20120914-1540"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.feature.group" version="4.2.1.v20120820-ChBG8UGYgRQlJ7y9Lz-wS7nDcRL4"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.wb.swt.feature.feature.group" version="1.5.1.r42x201209161211"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.0.1.v20120917-0741"/>
<unit id="org.eclipse.cdt.feature.group" version="8.1.1.201209170703"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/updates-1.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.mail" version="0.0.0"/>
<unit id="com.google.gerrit.common" version="0.0.0"/>
<unit id="com.google.gerrit.common.source" version="0.0.0"/>
<unit id="com.google.gerrit.prettify" version="0.0.0"/>
<unit id="com.google.gerrit.prettify.source" version="0.0.0"/>
<unit id="com.google.gerrit.reviewdb" version="0.0.0"/>
<unit id="com.google.gerrit.reviewdb.source" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.core.source" version="0.0.0"/>
<unit id="org.hamcrest.integration.source" version="0.0.0"/>
<unit id="org.hamcrest.generator" version="0.0.0"/>
<unit id="org.hamcrest.generator.source" version="0.0.0"/>
<unit id="org.hamcrest.integration" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.hamcrest.library.source" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.hamcrest.text" version="0.0.0"/>
<unit id="org.hamcrest.text.source" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.mockito.source" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.antlr.runtime" version="3.0.0.v200803061811"/>
<unit id="org.apache.xmlrpc" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
</locations>
</target>
